{%  extends 'base.jinja2' %}

{% block content %}
    <h1>Create Post</h1>
    <form method="POST">
        <div>
            <label for="title">Title</label>
            <input id="title" name="title" type="text" />
        </div>
        <div>
            <label for="content">Content</label>
            <textarea id="content" name="content">
            </textarea>
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
{% endblock %}