{% extends 'base.jinja2' %}

{% block content %}
<h1>Posts</h1>
    <a href="{{ url_for('post_create') }}">Create a new post</a>
<ul>
    {% for i, post in posts %}
        <li><a href="{{ url_for('get_post', post_id=i) }}">{{ post['title'] }}</a></li>
    {% endfor %}
</ul>
{% endblock %}